<style type="text/css">
.tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;}
.tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#fff;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">Period Ending:</th>
    <th class="tg-0pky">9/24/2022</th>
    <th class="tg-0pky">9/25/2021</th>
    <th class="tg-0pky">9/26/2020</th>
    <th class="tg-0pky">9/28/2019</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">Net Income</td>
    <td class="tg-0pky">$99,803,000</td>
    <td class="tg-0pky">$94,680,000</td>
    <td class="tg-0pky">$57,411,000</td>
    <td class="tg-0pky">$55,256,000</td>
  </tr>
  <tr>
    <td class="tg-0pky">Cash Flows-Operating Activities</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Depreciation</td>
    <td class="tg-0pky">$11,104,000</td>
    <td class="tg-0pky">$11,284,000</td>
    <td class="tg-0pky">$11,056,000</td>
    <td class="tg-0pky">$12,547,000</td>
  </tr>
  <tr>
    <td class="tg-0pky">Net Income Adjustments</td>
    <td class="tg-0pky">$10,044,000</td>
    <td class="tg-0pky">$2,985,000</td>
    <td class="tg-0pky">$6,517,000</td>
    <td class="tg-0pky">$5,076,000</td>
  </tr>
  <tr>
    <td class="tg-0pky">Changes in Operating Activities</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Accounts Receivable</td>
    <td class="tg-0pky">-$9,343,000</td>
    <td class="tg-0pky">-$14,028,000</td>
    <td class="tg-0pky">$8,470,000</td>
    <td class="tg-0pky">$3,176,000</td>
  </tr>
  <tr>
    <td class="tg-0pky">Changes in Inventories</td>
    <td class="tg-0pky">$1,484,000</td>
    <td class="tg-0pky">-$2,642,000</td>
    <td class="tg-0pky">-$127,000</td>
    <td class="tg-0pky">-$289,000</td>
  </tr>
  <tr>
    <td class="tg-0pky">Other Operating Activities</td>
    <td class="tg-0pky">-$6,499,000</td>
    <td class="tg-0pky">-$8,042,000</td>
    <td class="tg-0pky">-$9,588,000</td>
    <td class="tg-0pky">$873,000</td>
  </tr>
  <tr>
    <td class="tg-0pky">Liabilities</td>
    <td class="tg-0pky">$15,558,000</td>
    <td class="tg-0pky">$19,801,000</td>
    <td class="tg-0pky">$6,935,000</td>
    <td class="tg-0pky">-$7,248,000</td>
  </tr>
  <tr>
    <td class="tg-0pky">Net Cash Flow-Operating</td>
    <td class="tg-0pky">$122,151,000</td>
    <td class="tg-0pky">$104,038,000</td>
    <td class="tg-0pky">$80,674,000</td>
    <td class="tg-0pky">$69,391,000</td>
  </tr>
  <tr>
    <td class="tg-0pky">Cash Flows-Investing Activities</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Capital Expenditures</td>
    <td class="tg-0pky">-$10,708,000</td>
    <td class="tg-0pky">-$11,085,000</td>
    <td class="tg-0pky">-$7,309,000</td>
    <td class="tg-0pky">-$10,495,000</td>
  </tr>
  <tr>
    <td class="tg-0pky">Investments</td>
    <td class="tg-0pky">-$9,560,000</td>
    <td class="tg-0pky">-$3,075,000</td>
    <td class="tg-0pky">$5,453,000</td>
    <td class="tg-0pky">$58,093,000</td>
  </tr>
  <tr>
    <td class="tg-0pky">Other Investing Activities</td>
    <td class="tg-0pky">-$2,086,000</td>
    <td class="tg-0pky">-$385,000</td>
    <td class="tg-0pky">-$2,433,000</td>
    <td class="tg-0pky">-$1,702,000</td>
  </tr>
  <tr>
    <td class="tg-0pky">Net Cash Flows-Investing</td>
    <td class="tg-0pky">-$22,354,000</td>
    <td class="tg-0pky">-$14,545,000</td>
    <td class="tg-0pky">-$4,289,000</td>
    <td class="tg-0pky">$45,896,000</td>
  </tr>
  <tr>
    <td class="tg-0pky">Cash Flows-Financing Activities</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Sale and Purchase of Stock</td>
    <td class="tg-0pky">-$89,402,000</td>
    <td class="tg-0pky">-$85,971,000</td>
    <td class="tg-0pky">-$72,358,000</td>
    <td class="tg-0pky">-$66,116,000</td>
  </tr>
  <tr>
    <td class="tg-0pky">Net Borrowings</td>
    <td class="tg-0pky">-$123,000</td>
    <td class="tg-0pky">$12,665,000</td>
    <td class="tg-0pky">$2,499,000</td>
    <td class="tg-0pky">-$7,819,000</td>
  </tr>
  <tr>
    <td class="tg-0pky">Other Financing Activities</td>
    <td class="tg-0pky">-$6,383,000</td>
    <td class="tg-0pky">-$5,580,000</td>
    <td class="tg-0pky">-$2,880,000</td>
    <td class="tg-0pky">-$2,922,000</td>
  </tr>
  <tr>
    <td class="tg-0pky">Net Cash Flows-Financing</td>
    <td class="tg-0pky">-$110,749,000</td>
    <td class="tg-0pky">-$93,353,000</td>
    <td class="tg-0pky">-$86,820,000</td>
    <td class="tg-0pky">-$90,976,000</td>
  </tr>
  <tr>
    <td class="tg-0pky">Effect of Exchange Rate</td>
    <td class="tg-0pky">--</td>
    <td class="tg-0pky">--</td>
    <td class="tg-0pky">--</td>
    <td class="tg-0pky">--</td>
  </tr>
  <tr>
    <td class="tg-0pky">Net Cash Flow</td>
    <td class="tg-0pky">-$10,952,000</td>
    <td class="tg-0pky">-$3,860,000</td>
    <td class="tg-0pky">-$10,435,000</td>
    <td class="tg-0pky">$24,311,000</td>
  </tr>
</tbody>
</table>